# while loop

In [1]:
count = 1

In [2]:
while count < 11:
    print(count)
    count = count +1

1
2
3
4
5
6
7
8
9
10

# loops

In [4]:
i =0 
while(i<9):
    print(i)
    i = i +1

0
1
2
3
4
5
6
7
8

In [9]:
i = 20
while i <45:
    print( "the value of i =" , i)
    i = i +5

the value of i = 20
the value of i = 25
the value of i = 30
the value of i = 35
the value of i = 40

In [14]:
i=25
while (i < 1000):
    print(i)   #we have to make increamnet in while loop (i = I +1 ) 
    i= i +50

25
75
125
175
225
275
325
375
425
475
525
575
625
675
725
775
825
875
925
975

# For loop

In [12]:
for index in [1,2,3,4,5]:
    print(index)

1
2
3
4
5

In [15]:
for i in [1,2,3,4,5,6]:
    print(i)

1
2
3
4
5
6

In [16]:
for index in [10,20,30,40,50,60]:
    print(index)

10
20
30
40
50
60

In [17]:
for index in [12.9 , 23.3, 23.4,89.9,34.6]:  '"they will make the increament by themselves"'
    print(index)                               # for loop will choose the data of index one by one

12.9
23.3
23.4
89.9
34.6

In [1]:
for i in [22,33,44,5,55,66,77,88]:  #This i or index is looking for index value here one by one 
    print(i)

22
33
44
5
55
66
77
88

In [2]:
for i in ['a' , 'v' , 'b' , 'v' , 'c']:
    print(i)

a
v
b
v
c

In [3]:
for p in ['apple' , 'mango' , 'banana' , 'slice' , 'oops']:
    print (p)

apple
mango
banana
slice
oops

In [4]:
for i in ['a' , 1,2,3,3.12 , 'banana' , 'coldy']:
    print(i)

a
1
2
3
3.12
banana
coldy

Difference between for and while loop :

in while loop = 1.we have to give initialization , we have to give condition and increament too (i = i + 1)

in for loop = no need to give intitialization , condition and increament .

for loop work on indexing method , automatication iteration starts on index and print each element from index 0 one by one

In [6]:
# note=> in while loop we can not work on characters

In [8]:
for p in ['mercury' , 'venus' , 'cabbage' , 10 , '12' , 78.9]:
    print(p)

mercury
venus
cabbage
10
12
78.9

In [10]:
for p in ['apple' , 'mango' , 'orange' , 'kiwi' , 'pineapple']:
    print('fruit name is' , p)
    print("we are doing work on for loop") #all these three lines are part of for loop
    print("end")

fruit name is apple
we are doing work on for loop
end
fruit name is mango
we are doing work on for loop
end
fruit name is orange
we are doing work on for loop
end
fruit name is kiwi
we are doing work on for loop
end
fruit name is pineapple
we are doing work on for loop
end

In [11]:
for p in ['apple' , 'mango' , 'orange' , 'kiwi' , 'pineapple']:
    print('fruit name is' , p)
    print("we are doing work on for loop")
print("end")  #First two lines are part of iteration while the last one is not

fruit name is apple
we are doing work on for loop
fruit name is mango
we are doing work on for loop
fruit name is orange
we are doing work on for loop
fruit name is kiwi
we are doing work on for loop
fruit name is pineapple
we are doing work on for loop
end

In [12]:
for x in ['computer','laptop' , 'mobile','chromebook']:
    print('x=' , x)
    print('for loop for x')
print("The end ")

x= computer
for loop for x
x= laptop
for loop for x
x= mobile
for loop for x
x= chromebook
for loop for x
The end

In [15]:
i =1
while (i<11):  # or we can write (i<=10)
    print('2*' , i , '=' , 2*i)
    i = i+1

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20

In [17]:
i =1
j = int(input("enter any number from table generation  "))
while (i<=10):
    print(j ,'*' ,i ,'=' , j*i )
    i = i+1

enter any number from table generation  13
13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130

In [21]:
i = 0
list1=[]
while(i<10):
    print (i)
    list1.append(i) #this will add i all value in list1
    i = i +1

0
1
2
3
4
5
6
7
8
9

In [23]:
list1 #value added successfully

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
i = 0
list1=[]
while(i<10):
    print (i)
    print(list1)
    list1.append(i) #this will add i all value in list1
    i = i +1
print("the final list is " , list1)

0
[]
1
[0]
2
[0, 1]
3
[0, 1, 2]
4
[0, 1, 2, 3]
5
[0, 1, 2, 3, 4]
6
[0, 1, 2, 3, 4, 5]
7
[0, 1, 2, 3, 4, 5, 6]
8
[0, 1, 2, 3, 4, 5, 6, 7]
9
[0, 1, 2, 3, 4, 5, 6, 7, 8]
the final list is  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
range(3)

range(0, 3)

In [31]:
list(range(3)) #if we want to see the sequence of list  # last number doesn't include

[0, 1, 2]

In [32]:
range(7)

range(0, 7)

In [33]:
list(range(7)) # made a list of range(7) and last number not included

[0, 1, 2, 3, 4, 5, 6]

In [34]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [35]:
for i in range(3):
    print (i)

0
1
2

In [36]:
for i in range (0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [37]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
list(range(10,101))

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [39]:
for i in range(6,19):
    print(i)

6
7
8
9
10
11
12
13
14
15
16
17
18

In [40]:
#range(startindex , endindex , jump)

In [45]:
list(range(7,14))

[7, 8, 9, 10, 11, 12, 13]

In [47]:
list(range(7,20,2)) #start index = 7 , endindex = 20 , jump = 2 (+2)

[7, 9, 11, 13, 15, 17, 19]

In [48]:
for i in range (10,101,10):
    print(i)  #using end we are saying pass the data side by side and give space in b/w

10
20
30
40
50
60
70
80
90
100

In [51]:
for i in range(2,20,2):
    print(i , end =" ")  # end = "" used for space b/w numbers

2 4 6 8 10 12 14 16 18

In [49]:
for i in range(17,171,17):
    print(i)

17
34
51
68
85
102
119
136
153
170

In [52]:
for i in range (2,20,2): #if we don't use end the data is coming in new line 
    print(i)  # wuthout end = " " passed it in vertical order

2
4
6
8
10
12
14
16
18